<% layout('./../layouts/default') -%>
    <div class="row">
        <div class="col-12">
            <div class="widget pad30-65">
                <h4 class="font-20 mb-30">View Level</h4>
                <div class="row">

                    
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Level No : </label>
                            <%= level.levelNo %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Verteces: </label>
                            <%= level.verteces %>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    