<% layout('./../layouts/default') -%>
<div class="widget pad30-65">
    <div class="row ">
        <div class="col-md-12">
            <div class="card bg-transparent">
                <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row mb-0">
                    <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                        <div class="widget-title2 float-left">
                            <h3>User</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-inverse nowrap" id="user-datatable">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
   
