<% layout('./../layouts/default') -%>
    <div class="row">
        <div class="col-12 mt-3 mb-5">
            <div class="widget pad50-60 mb-30">
                <div class="pt-30">
                    <h4 class="font-20 ">Super Like</h4>
                </div>
                <div class="table-responsive">
                    <table class="text-nowrap text-white d-table">
                        <thead>
                            <tr>
                                <th>S.N0.</th>
                                <th>Super Like</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>


                            <%superLike.forEach(function(superLike, index) {%>
                                <tr>
                                    <td>
                                        <%=index+1%>
                                    </td>
                                    <td>
                                        <%=superLike.value%>
                                    </td>
                                    <td>
                                        <%=superLike.price%>
                                    </td>
                                    <td><a href="/plans/superLikeEdit/<%=superLike._id%>">Edit</a>
                                    </td>
                                </tr>

                                <%});%>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>