<header class="side-header expand-header">
  <div class="nav-head">Main Navigation<span class="menu-trigger active"><i class="ion-android-menu"></i></span></div>
  <nav class="custom-scrollbar">
    <ul class="drp-sec">
      <li class="#"><a href="/" title=""><i class="ion-home"></i> <span>Dashboard</span></a>
      </li>
    </ul>
    <h4>Managers</h4>
    <ul class="drp-sec">
      <li class="has-drp"><a href="#" title=""><i class="ion-person-stalker"></i> <span>User Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/user" title="">User List</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-university"></i> <span>Education Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/education" title="">Education</a></li>
          <li><a href="/education/add" title="">Add Education</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Characteristics Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/characteristics" title="">Characteristics</a></li>
          <li><a href="/characteristics/add" title="">Add characteristics</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Questionnaire Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/question" title="">Questionnaire</a></li>
          <!-- <li><a href="/question/add" title="">Add Questionnaire</a></li> -->
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Romantiks Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/romantiks" title="">Romantiks</a></li>
          <li><a href="/romantiks/add" title="">Add Romantiks</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-film"></i> <span>Plans Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/plans" title="">Page</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-film"></i> <span>Currency Replenish</span></a>
        <ul class="sb-drp">
          <li><a href="/replenish/currencyReplenish" title="">Replenish Action</a></li>
          <li><a href="/replenish/superLike" title="">Super Like</a></li>
        </ul>
      </li>

      <li class="has-drp"><a href="#" title=""><i class="ion-ios-volume-high"></i> <span>Sound Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/sound/notification" title="">App Notification</a></li>
          <li><a href="/sound/background" title="">Background Puzzle</a></li>
          <li><a href="/sound/puzzle" title="">Puzzle Sound</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Tutorial Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/tutorial" title="">Tutorial</a></li>
          <li><a href="/tutorial/add" title="">Add Tutorial</a></li>
        </ul>
      </li>

      <li class="has-drp"><a href="#" title=""><i class="ion-android-walk"></i> <span>Reward Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/reward" title="">Reward</a></li>
          <!-- <li><a href="/tutorial/add" title="">Add Tutorial</a></li> -->
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-document-text"></i> <span>Game Manager</span></a>
        <ul class="sb-drp">
          <li><a href="/game" title="">Game</a></li>
          <li><a href="/game/stagePage" title="">Stage</a></li>
          <li><a href="/game/hintPage" title="">Hints</a></li>
          <li><a href="/game/hintVideo" title="">Hint Video</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-document-text"></i> <span>Static Page</span></a>
        <ul class="sb-drp">
          <li><a href="/auth/privacy_policy" title="">Privacy Policy</a></li>
          <li><a href="/auth/about_us" title="">About us</a></li>
          <li><a href="/auth/terms_conditions" title="">Terms Conditions</a></li>
          <li><a href="/auth/refund_cancellation" title="">Refund Cancellation</a></li>
          <li><a href="/auth/faq" title="">FAQ</a></li>
        </ul>
      </li>
      <li><a href="/profile" title=""><i class="ion-android-person-add"></i> <span> My Profile</span></a></li>
      <li><a href="/change-password"><i class="ion-android-lock"></i><span> Change Password </span></a></li>
      <li><a href="/auth/log-out"><i class="ion-log-out"></i><span> Logout </span></a></li>
    </ul>
  </nav>
</header>